dist
*.hi
*.o
docs
eigen3/bench
eigen3/doc
eigen3/blas
eigen3/debug
eigen3/lapack
eigen3/demos
eigen3/cmake
eigen3/test
eigen3/failtest
eigen3/scripts
eigen3/unsupported
eigen3/.hg_archival.txt
eigen3/.hgeol
eigen3/.hgignore
eigen3/.hgtags
eigen3/CMakeLists.txt
eigen3/CTestConfig.cmake
eigen3/CTestCustom.cmake.in
eigen3/eigen3.pc.in
eigen3/INSTALL
eigen3/signature_of_eigen3_matrix_library
